<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ASL project - {% block title %}Home{% endblock %}</title>
</head>
<body>

    {% include '../partials/_header.twig' %}
    <h1>Hello World!</h1>
    {% block main_content %}
    <p>This content is coming from templates/layouts/base.twig</p>
    {% endblock %}

    {% block scripts %}
    {% endblock %}
    {% include '../partials/_footer.twig' %}

</body>
</html>